<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alineacion</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
    <style>
        h1{ text-align: center;}

        .fila{
            border: 2px solid blue;
            background-color: lightblue;
            height: 100px;
        }
        .columna{
            background-color: lightgreen;
            border: 2px solid green;
            
        }
    </style>
<body>


    <div class="container">

        <div class="row">
            <h1>alineacion de columnas </h1>
        </div>

        <div class="row justify-content-start mt-2 fila">
            <div class="col-3 columna">start</div>
            <div class="col-3 columna">start</div>
            <div class="col-3 columna">start</div>
        </div>
        
        <div class="row justify-content-end mt-2  fila">
            <div class="col-3 columna">end</div>
            <div class="col-3 columna">end</div>
            <div class="col-3 columna">end</div>
        </div>

        <div class="row justify-content-center mt-2  fila">
            <div class="col-3 columna">center</div>
            <div class="col-3 columna">center</div>
            <div class="col-3 columna">center</div>
        </div>

        <div class="row justify-content-between mt-2  fila">
            <div class="col-3 columna">between</div>
            <div class="col-3 columna">between</div>
            <div class="col-3 columna">between</div>
        </div>

        <div class="row justify-content-around mt-2  fila">
            <div class="col-3 columna">around</div>
            <div class="col-3 columna">around</div>
            <div class="col-3 columna">around</div>
        </div>

        <div class="row justify-content-evenly mt-2  fila">
            <div class="col-3 columna">evenly</div>
            <div class="col-3 columna">evenly</div>
            <div class="col-3 columna">evenly</div>
        </div>


        <div class="row">
            <h2>Alineacion de columnas cross axis </h2>
        </div>

        <div class="row align-items-start mt-2 fila">
            <div class="col-3 columna">start</div>
            <div class="col-3 columna">start</div>
            <div class="col-3 columna">start</div>
        </div>
        
        <div class="row align-items-end mt-2  fila">
            <div class="col-3 columna">end</div>
            <div class="col-3 columna">end</div>
            <div class="col-3 columna">end</div>
        </div>

        <div class="row align-items-center mt-2  fila">
            <div class="col-3 columna">center</div>
            <div class="col-3 columna">center</div>
            <div class="col-3 columna">center</div>
        </div>

        <div class="row  mt-2  fila">
            <div class="col-3 align-self-start columna">self start</div>
            <div class="col-3 align-self-center columna">self center</div>
            <div class="col-3 align-self-end columna">self end</div>
        </div>

        

    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>